body {
  min-height: 100vh;
  background-color: cornsilk;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 640px;
  padding: 0 12px;
  margin: 0 auto;
}

h1 {
  padding-bottom: 12px;
}

#hero {
  text-align: center;
  padding: 40px 0;

  & h3 {
    margin-top: 12px;
  }
}

#forms {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.flex {
  display: flex;
  gap: 4px;
}

.card {
  background-color: #fefefe;
  padding: 16px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  min-height: 360px;
  width: 100%;
  min-width: 300px;

  & h2 {
    margin-bottom: 12px;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4px 8px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}

.btn-dark {
  background-color: rgb(25, 105, 186);
  color: white;
  border: none;
}

.btn-dark-disabled {
  background-color: #aaa;
  color: white;
  border: none;
}

.btn-light {
  background-color: white;
  color: #1969ba;
  border: 1px solid;
}

.btn-light-disabled {
  background-color: #f5f5f5;
  color: #aaa;
  border: 1px solid;
}

.form {
  display: flex;
  max-width: 300px;
  flex-direction: column;
  gap: 4px;
  flex: 1;

  & form {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  & label {
    display: block;
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 12px;

    & span[type='text'] {
      display: block;
      color: red;
    }

    & span {
      margin-bottom: 4px;
    }

    & input {
      padding: 4px;
      border-radius: 4px;
      border: 1px solid #aaa;
    }

    & input[type='checkbox'] {
      display: inline;
      width: fit-content !important;
      margin-right: 4px;
    }
  }

  & .btns-wrapper {
    display: flex;
    gap: 4px;
  }
}

#cadastro {
  & input {
    width: 100%;
  }

  & span {
    text-transform: uppercase;
  }

  > div {
    display: flex;
    justify-content: space-between;

    & #icone-remover {
      display: flex;
      cursor: pointer;
      height: 28px;
      width: 28px;
      padding-bottom: 2px;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid #aaa;
      border-radius: 4px;
      font-weight: bolder;
      color: #444;
    }
  }
}

.informativo {
  color: #999;
  font-size: 0.8rem;
  margin-top: -8px;
  margin-bottom: 8px;
}

span.descricao {
  display: inline-block;
  margin-bottom: 8px;
  text-wrap: nowrap;
  color: #666;
  font-weight: bold;
  font-size: 0.9rem;
}

#participantes {
  & label {
    display: flex;
    justify-content: space-between;

    & span {
      font-size: 1rem;
    }
  }

  & input {
    min-width: 60px;
    height: 30px;
    max-height: 30px;
    text-align: center;
  }
}

#quantitativos {
  margin: 32px auto;

  > div {
    & table {
      width: 100%;
      border-collapse: collapse;

      & td,
      th {
        padding: 6px 0;
      }

      & th {
        color: #777;
        text-transform: uppercase;
      }

      & td {
        border-top: 1px solid #ccc;
      }

      & thead {
        & th:first-of-type {
          text-align: left;
        }
      }

      & tbody {
        & tr {
          & td {
            text-align: center;
            font-weight: 400;
          }

          & td:first-of-type {
            text-align: left;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.status-wrapper {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
  color: #555;
  font-weight: bold;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 5px solid #777;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
